@charset "UTF-8";
.nav{
	width:100%;
	height:50px;
	background: #E0E0E0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.border-left{
	border-left: 100px
}
.nav-content{
	margin-left: 30px;
	margin-right: 30px;
}
.container{
	display: flex;
	justify-content: center;
	
}
.container-column{
	flex-direction: column;
}
.labs-title{
	margin: 50px;
}
.labs-Box{
	width:20%;
	height: 300px;
	margin: 20px;
	background: #F5F5F5;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.main-img{
	width:100%;
}
.labs-name{
	font-size:large;
	font-weight: bold;
	text-align: center;
}
.project-content{
	font-size:large;
	font-weight: normal;
	text-align: left;
	margin:10px;
}