@charset "UTF-8";
.nav{
	width:100%;
	height:50px;
	background: #E0E0E0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.border-left{
	border-left: 100px
}
.nav-content{
	margin-left: 30px;
	margin-right: 30px;
}
.login-container{
	
}
.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: block;
} 